@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.projects-container {
    margin: 0 $margin-mobile;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
        margin: 0 $margin-tablet;
    }

    @include desktop {
        width: $desktop-container;
        margin: 0 auto;
    }
}