@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.experiences {
    margin: 0 $margin-mobile;
    padding: 1rem 0;

    &__heading {
        @include title-mobile;

        @include tablet {
            @include title-tablet;
        }
    }

    &__map-container {
        width: 18rem;
        position: relative;
        margin: 0 auto;

        @include tablet {
            width: 45rem;
        }
    }
}