@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.skills {
    margin: 0 $margin-mobile;
    padding: 1rem 0;

    &__heading {
        @include title-mobile;

        @include tablet {
            @include title-tablet;
        }
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;
        flex-wrap: wrap;
    }

    &__icon {
        height: 2.5rem;
        filter: sepia(100%);

        &:hover {
            filter: sepia(0);
        }

        @include tablet {
            height: 3.5rem;
        }
    }
}