@use '../../assets/styles/variables' as *;

.skills {
    margin: 0 $margin-mobile;
    padding: 1rem 0;

    &__heading {
        font-weight: 400;
        padding-bottom: 0.5rem;
        color: $color4;
        font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
        font-size: 1.5rem;
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;
        flex-wrap: wrap;
    }

    &__icon {
        height: 2.5rem;
        filter: sepia(100%);

        &:hover {
            filter: sepia(0);
        }
    }
}