@use '../../assets/styles/variables' as *;

.map-pin {
    position: absolute;
    background-color: $color4;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01rem solid #FFF;

    &--nyc {
        top: 43%;
        left: 23%;
    }

    &--lausanne {
        top: 40.5%;
        right: 48%;
    }

    &--hk {
        top: 49%;
        right: 15%;
    }

    &__number {
        color: #FFF;
        font-size: 0.75rem;
        opacity: 1;
    }
}