@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.map-pin {
    position: absolute;
    background-color: $color4;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01rem solid #FFF;

    @include tablet {
        width: 1.5rem;
        height: 1.5rem;
        border: 0.1rem solid #FFF;
    }

    &--nyc {
        top: 42%;
        left: 23%;

        @include tablet {
            top: 41.5%;
            left: 23.5%;
        }
    }

    &--lausanne {
        top: 40%;
        right: 48.5%;

        @include tablet {
            top: 38.5%;
            right: 49.25%;
        }
    }

    &--hk {
        top: 48.5%;
        right: 15%;

        @include tablet {
            top: 50.25%;
            right: 16.5%;
        }
    }

    &__number {
        color: #FFF;
        font-size: 0.75rem;

        @include tablet {
            font-size: 1rem;
        }
    }
}