@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.map-pin {
    position: absolute;
    background-color: $color4;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01rem solid $color1;

    @include tablet {
        width: 1.5rem;
        height: 1.5rem;
        border: 0.1rem solid $color1;
    }

    &:hover {
        cursor: pointer;
    }

    &--nyc {
        top: 42%;
        left: 23%;
    }

    &--lausanne {
        top: 36.5%;
        right: 49.25%;
    }

    &--hk {
        top: 49.75%;
        right: 16.5%;
    }

    &__point {
        background-color: $color1;
        height: 0.25rem;
        width: 0.25rem;
        border-radius: 50%;

        @include tablet {
            height: 0.5rem;
            width: 0.5rem;
        }
    }
}