@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.nav-bar {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    gap: 1rem;
    margin: 0 $margin-mobile;

    &__link {
        font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
        text-decoration: none;
        text-transform: lowercase;
        font-size: 1rem;
        font-weight: 400;
        color: $color3;

        @include tablet {
            font-size: 1.5rem;
        }

        &.active {
            text-transform: uppercase;
            font-size: 2rem;
            color: $color4;

            @include tablet {
                font-size: 3rem;
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }


}