@use '../../assets/styles/variables' as *;

.about {
    margin: 0 $margin-mobile;
    padding-bottom: 1rem;

    &__heading {
        font-weight: 400;
        padding-bottom: 0.5rem;
        color: $color4;
        font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
        font-size: 1.5rem;
    }

    &__content {
        color: $color3;
        padding: 0.5rem 0;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
    }

    &__image-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2rem;
    }

    &__image {
        max-width: 100%;
        max-height: 20rem;
        border-radius: 100vw;
    }
}