@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.map {
    width: 100%;
    fill: $color3;
    display: block;
    height: 15rem;

    @include tablet {
        height: 22.5rem;
    }

    @include desktop {
        height: 40rem;
    }
}